Package: cloud-initramfs-dyn-netconf
Source: cloud-initramfs-tools
Version: 0.27deepin1.4
Architecture: all
Maintainer: Scott Moser <scott@ubuntu.com>
Installed-Size: 29
Depends: initramfs-tools
Section: admin
Priority: extra
Homepage: http://launchpad.net/cloud-initramfs-tools
Description: write a network interface file in /run for BOOTIF
 This package provides an initramfs module that will write a simple
 network interfaces formated file to /run/network/interfaces with
 entries for any devices that were configured during initramfs.
